<h1>Login</h1>
<%= form_with url: main_create_path, method: :post, data: {turbo: false} do |form| %>
    <div class="mb-3">
        <label for="login" class="form-label">Username</label>
        <input type="text" name="login" class="form-control" aria-describedby="loginHelp">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
<% end %>    

